NEXT_PUBLIC_SITE_URL=https://dev.fabienhance.com
NEXT_PUBLIC_GA_MEASUREMENT_ID=
STRAPI_URL=https://cms-dev.fabienhance.com
STRAPI_INTERNAL_URL=http://cms:1337
CMS_REQUIRED=true
STRAPI_API_TOKEN=
STRAPI_WEBHOOK_SECRET=

PUBLIC_URL=https://cms-dev.fabienhance.com
CORS_ORIGINS=https://dev.fabienhance.com
APP_KEYS=
API_TOKEN_SALT=
ADMIN_JWT_SECRET=
TRANSFER_TOKEN_SALT=
JWT_SECRET=
ENCRYPTION_KEY=

DATABASE_NAME=photography_dev
DATABASE_USERNAME=photography_dev
DATABASE_PASSWORD=
DATABASE_SCHEMA=public
DATABASE_POOL_MIN=1
DATABASE_POOL_MAX=5
DATABASE_CONNECTION_TIMEOUT=60000
